@page "/Curriculo"
<PageTitle>Curriculo </PageTitle>

<style>


    body {
        font-family: 'Times New Roman', Times, serif;
    }


    img {
        display: block;
        margin: 0 auto 20px;
        width: 150px;
        height: 150px;
    }


    h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: bold;
        border-bottom: 3px solid #000000;
    }

    h2, h5, h4 {
        border-bottom: 3px solid;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 22px;
        text-align: left;
        border-bottom: 3px solid #000000;
    }

    p {
        text-align: justify;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 12px;
    }

    ul {
        margin-left: 40px;
        padding-left: 0;
        font-family: 'Times New Roman', Times, serif;
        list-style-type: disc;
    }

    li {
        font-family: 'Times New Roman', Times, serif;
        margin-bottom: 5px;
        text-align: justify;
    }



</style>





<h3>Curriculo</h3>

<div class="imagem">
    <img src="img/as.jpg" alt="Foto de Perfil" width="150" height="150" />
</div>

<h2>Tainara Rodrigues de jesus</h2>

  <h2>Informações Pessoais:</h2>
  
  <p>Telefone: (69) 9252-0624 </p>
  <p>Email: Tainara12rodrigues12@gmail.com</p>
  <p>Data de nascimento: 06/10/2008</p>
  <p>Cidade: Ji-Paraná (RO)</p>
  <p>Idade: 16 anos</p>

  <h2>Objetivo Profissional:</h2>
  <p>Estou buscando meu primeiro emprego</p>

  <h4>Escolaridade:</h4>
  <p>Instituição: Instituto Federal de Rondônia, IFRO - Campus Ji-Paraná</p>
  <p>Período: 2023 - Em andamento</p>
  <p>conlusão: 2025</p>


  <p>
    <h4>Habilidade:</h4> 
    <ul>
  <li>Responsável </li>
  <li>Facilidade ao trabalho em equipe </li>
  <li>Ética </li>
  <li>Pensamento Crítico</li>
  
    </ul>
  </p>

  <h5>Objetivo: </h5>
  <p> Estou buscando meu primeiro emprego ,a proucura de desafios profissionais buscando uma efetivação no mercado,
      pondendo mostrar minha qualidade de querer e conseguir. </p>


@code {

}
