@page "/Sobre"
<PageTitle> Sobre </PageTitle>

<h3>Sobre</h3>
<div class=" vida">
   <p> Sobre a minha vida  </p>

</div>
<div class=" Apresentacao!! ">
    <p>
        Olá a todos! Meu nome é Tainara Rodrigues de Jesus,
        tenho 16 anos e estudo no 3º ano A de Informática.
        </p>

     <p>
        Gosto muito de assistir animes e passar tempo com minha família
        ,que é uma parte muito importante na minha vida. 
        </p>

      <p>
        Minha comida favorita é torta de frango.
        Meu anime favorito é Naruto e também Overlod.
        Eu não gosto de animal.
    </p>

</div>
   

@code {

}
