@page "/Sobre"
<PageTitle> Sobre </PageTitle>

<h3>Sobre</h3>
<div class=" vida">
   <p> Sobre a minha vida  </p>

</div>
<div class=" Apresentacao!! ">
    <p>
        Ola! meu nome e tainara, tenho 16 anos de idade,
        meu ani
        
    </p>
    <p>
        estou vivendo com minha mãe,
        eu tenho  tem 3 irmãos

        não gosto de informatica
    </p>

</div>
   

@code {

}
